################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Article.MVC/.vs/Article.MVC/FileContentIndex/e2fb31e7-ddc2-4110-bd0d-96954bb7bb8e.vsidx
